[submodule "voxceleb_trainer"]
	path = voxceleb_trainer
	url = https://github.com/AhmedGamal411/voxceleb_trainer
[submodule "DiffusionSpeech2Face_Preprocessing"]
	path = DiffusionSpeech2Face_Preprocessing
	url = https://github.com/AhmedGamal411/DiffusionSpeech2Face_Preprocessing
[submodule "DiffusionSpeech2Face_Model_Imagen"]
	path = DiffusionSpeech2Face_Model_Imagen
	url = https://github.com/AhmedGamal411/DiffusionSpeech2Face_Model_Imagen
[submodule "VAE"]
	path = VAE
	url = https://github.com/podgorskiy/VAE
